.body
{
	background-color:black;
	font-family:avoid;
	color:gray;
	font-size:25px;
	font-weight:bold;
}
.div
{
	width:300px;
	height:50px;
	background-color:darkred;
	padding:10px;
	margin:10px;
	border-width:10px;
	border-style:solid;
	border-color:gray;
	border-radius:10px 20px 30px 40px;
}
	